{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/things.js' %}"></script>
<br />
<div class="row">
    <div class="col-12">


        <div class="card things-card">
            <div class="card-header">My Things</div>
            <div class="card-body">

                <div class="row">
                    
                    <div class="card add-thing-form">
                        <div class="card-body">

                            <div class="card-title">
                                {% if }
                                <div class="alert alert-danger error-output"></div>
                            </div>
                            <div class="card-text">
        
                            </div>

                        </div>
                    </div>  

                </div>

            </div>
        </div>


    </div>
</div>

{% endblock %}