{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row login-row">
        <div class="col-2"></div>
        <div class="col-6">

            <div class="card login-form-card">
                <div class="card-body">
                    <div class="card-title"><h2>Login</h2></div>
                    <div class="card-text">
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>
                                </div>
                                {{ login_form.username }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                {{ login_form.password }}
                            </div>
                            
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                        <hr />
                        <a role="button" href="/register" class="btn btn-danger" >Register</a>
                        
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger login-errors">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-success login-errors">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            
                        {% endif %}

                    </div>

                </div>
            </div>

            
        </div>
        <div class="col-2"></div>


    </div>
</div>
{% endblock %}
